<div class="col-12 col-md-6 mb-4">
  <div class="card shadow-lg border rounded-3 border-light">
    <div class="card-header bg-primary text-white border-bottom">
      <h5 class="card-title mb-0 fs-4"><%= insights_title %></h5>
    </div>
    <div class="card-body">
      <h6 class="card-text fs-1"><%= method %></h6>
      <ul class="list-unstyled">
        <li class="card-text">
          <strong><%= insights_message %></strong>
        </li>
      </ul>
    </div>
    <div class="card-footer text-center bg-light">
      <div class="d-flex justify-content-center fs-6">
        <%= insights_description %>
      </div>
    </div>
  </div>
</div>