/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

  .spot-savor-title {
    font-family: 'Playwrite CU', sans-serif;
  }

  .inline-header {
    display: inline;
  }

  .insights-text {
    font-size: 50px;
    font-weight: lighter;
  }

  .material-icons.insights-icon {
    font-size: 70px; /* Adjust the size as needed */
    margin-left: 5px;
  }



