<%= render 'shared/spot_savor_title' %>

<div class="container welcome-message mt-5">
  <div class="row mx-5">
      <div class="col">
        <p>Welcome to SpotSavor, where tradition meets innovation. Revolutionize how your restaurant handles reservations with our cutting-edge platform designed to streamline your workflow and enhance your guest experience. Say goodbye to paper logs and hello to seamless digital management—create, edit, update, and delete reservations with just a few clicks.</p>
        <p>Empower your team with real-time updates and intuitive controls, making hosting and reservation management more efficient than ever. Whether you're booking a table for two or a party of twenty, SpotSavor ensures that every reservation is handled with precision and ease. Elevate your restaurant's operations and delight your guests with effortless reservation management. Embrace the future of dining with SpotSavor, where efficiency meets excellence.</p>
      </div>
  </div>
</div>
